.contactBox{
    padding: 3rem 0;
    min-height: 70vh;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items: center;
}
.contactBox h1{
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.contactBox .container{
    max-width: 1000px;
}
.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.contactBox .inputGroup{
    margin-bottom: 1.5rem;
}
.contactBox .inputGroup .form-control{
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    letter-spacing: .5px;
    box-shadow: none;
}
.contactBox .inputGroup .form-select{
    color: #999;
    font-size: .88rem;
    font-weight: 500;
    outline: none;
}
.contactBox .inputGroup .form-control::placeholder{
    color: #999;
    font-weight: 500;
    font-size: .9rem;
}
.contactBox .contactBtn button{
    border-radius: 5px;
    padding: .45rem 1rem;
    width: 150px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    letter-spacing: .5px;
    text-transform: uppercase;
    border: none;
}