.title {
    color: teal;
    font-size: 2rem;
    text-align: center;
  }
  .logoContainer {
    position: relative;
    width: 200px;
    height: 100px;
  }
  
  .logoImage {
    object-fit: contain; /* or cover */
  }